@tailwind base;
@tailwind components;
@tailwind utilities;



.dark {
  @apply bg-slate-800 text-zinc-50;
}

.TaskItem {
  /* border: 1px solid #DFDFDF; */
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 12px;
}
